*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-main-header: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --ff-color-black: rgb(32, 32, 32);

  --letter-spacing-main: 0.3rem;
  --letter-spacing-sub: 0.25rem;
}

body {
  font-family: var(--ff-main-header);
  background-color: rgb(230, 230, 252);
  color: var(--ff-color-black);
  /* width: 90%; */
  position: relative;
}

/* HEADER CONTAINER */

.container__header {
  margin-top: 1.5rem;
  width: 100%;
  min-height: 200px;
  background: rgba(16, 16, 51, 0.9);
  font-family: var(--ff-main-header);
  letter-spacing: var(--letter-spacing-main);
  line-height: 1.2rem;
  z-index: -1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 0 6px 3em rgba(64, 64, 64, 0.8);
  /* border-bottom: 3px solid rgba(64, 22, 105, 0.2); */
}

.container__header h1,
.container__header p {
  color: rgb(230, 230, 252);
  width: 70%;
  font-size: 3rem;
  margin-left: auto;
  padding: 1.6rem;
  text-transform: uppercase;
  /* background-color: red; */
  text-align: right;
}

.container__header h1 {
  font-weight: 800;
}

.container__header p {
  font-size: 1.3rem;
  letter-spacing: var(--letter-spacing-sub);
  font-weight: 300;
}

/* SKILLS CONTAINER */
.container__skills {
  background-color: rgb(172, 64, 64);
  min-height: 80%;
  min-width: 30%;
  max-width: 30%;
  z-index: 20;
  position: absolute;
  top: 0%;
  left: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  /* padding-top: 1rem; */

  box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
}

.container__skills div p,
.container__skills ul {
  font-size: 1.2rem;
  font-weight: 300;
  margin-left: 1.5rem;
}

.container__skills img {
  height: 125px;
  width: auto;
  object-fit: contain;
  transform: rotate(90deg);
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.container__skills .skills-header {
  background-color: rgb(138, 41, 41);
  padding: 1rem;
  color: rgb(230, 230, 252);
  font-size: 1.1rem;
  font-family: var(--ff-main-header);
  font-weight: 600;
  letter-spacing: var(--letter-spacing-sub);
  text-transform: uppercase;
  width: 85%;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}

.container__skills .physical-contact-info {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.container__skills .physical-contact-info p {
  font-weight: 500;
  line-height: 1.4rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.container__skills .skill-list {
  list-style-type: none;
}

.container__skills .skills-graph p {
  margin-bottom: 0.3rem;
}

.container__skills .skill-list-item {
  padding: 0.3rem;
}

.container__skills .skill-list-item a {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(32, 32, 32);
  transition: all 0.3s ease-in-out;
}

.container__skills .skill-list-item a:hover {
  color: rgba(16, 16, 51, 0.9);
}

.container__skills .skill-list-item i {
  /* display: block; */
  padding-right: 1rem;
  margin-left: 0.5rem;
  font-size: 2rem;
}

.container__employment {
  min-width: calc(70% - 1.6rem);
  max-width: calc(70% - 1.6rem);
  padding: 1rem;
  margin-left: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.container__employment .employment-header {
  background-color: rgb(172, 64, 64);
  padding: 1rem;
  color: rgb(230, 230, 252);
  font-size: 1.1rem;
  font-family: var(--ff-main-header);
  font-weight: 600;
  letter-spacing: var(--letter-spacing-sub);
  text-transform: uppercase;
  width: 70%;
  text-align: center;

  box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
}

.container__employment .profile-text {
  margin: 1.5rem 0;
}

.container__employment p {
  width: 90%;
  line-height: 1.7rem;
  margin-bottom: 1.5rem;
}

.container__employment .employment-title-element {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.02rem;
  font-size: 1.4rem;
  margin-top: 1rem;
}

.container__employment .employment-dates-graph {
  text-align: center;
  margin-top: -0.2rem;
  color: rgba(16, 16, 51, 0.9);
}

.container__employment .employment-duties-list {
  list-style-type: none;
  width: 90%;
  margin-bottom: 2rem;
}

.container__employment .employment-duties-list .employment-duty-list-item {
  margin: 1rem;
}
